{{template "base" .}}
{{define "title"}}Grok{{end}}
{{define "main"}}
    <table class="cinereousTable">
        <thead>
            <tr>
                <th>Pattens</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{range .Pattern}}
                <tr>
                    <td style="text-align:left">
                        {{.PatternName}}
                    </td>
                    <td style="text-align:right">
                        {{.PatterLogs}}
                    </td>
                </tr>
            {{end}}
        </tbody>
    </table>
    <br>
    <br>
    <form>
        <input type="text" id="patternName"/>
        <button style="border-color: #04AA6D;background: none; padding: 0;  color: #62CB31; text-decoration: none;" id="MyFancyBtn" onclick=testVariable() type="button">Submit</button>
        <br/>
        <div>
            <span id="spanResult">

            </span>
        </div>
    </form>
        <script type="text/javascript">
        let myBtn = document.getElementById("MyFancyBtn");
        let Pattern = {
            "Nginx 1": "%{IPV4:source.address} - - \\[%{HTTPDATE:http.date}\\] \\\" % {WORD: http.request.method} % {PATH: url.path}	HTTP\\/%{BASE10NUM:http.version}\\\" %{INT:http.response.status_code} %{INT:http.response.bytes} \\\"%{URI:http.request.referrer}\\\" \\\"%{GREEDYDATA:user_agent.original}\\\"",
            "Nginx login": "%{IPV4:source.address} - - \\[%{HTTPDATE:http.date}\\] \\\" % {WORD: http.request.method} % {PATH: url.path}    HTTP\\/%{BASE10NUM:http.version}\\\" %{INT:http.response.status_code} %{INT:http.response.bytes} \\\"-\\\" \\\"%{GREEDYDATA:user_agent.original}\\\"",
            "Nginx 2": "%{IPV4:source.address} - - \\[%{HTTPDATE:http.date}\\] \\\" % {WORD: http.request.method} % {URIPATH: url.path} % {URIPARAM: url.param}    HTTP\\/%{BASE10NUM:http.version}\\\" %{INT:http.response.status_code} %{INT:http.response.bytes} \\\"-\\\" \\\"%{GREEDYDATA:user_agent.original}\\\"",
            "Nginx 3": "%{IPV4:source.address} - - \\[%{HTTPDATE:http.date}\\] \\\" % {WORD: http.request.method} % {URIPATH: url.path} % {URIPARAM: url.param}    HTTP\\/%{BASE10NUM:http.version}\\\" %{INT:http.response.status_code} %{INT:http.response.bytes} \\\"%{URI:http.request.referrer}\\\" \\\"%{GREEDYDATA:user_agent.original}\\\"",
            "Nginx 4": "%{IPV4:source.address} - - \\[%{HTTPDATE:http.date}\\] \\\" % {WORD: http.request.method} % {GREEDYDATA: url.path}    HTTP\\/%{BASE10NUM:http.version}\\\" %{INT:http.response.status_code} %{INT:http.response.bytes} \\\"-\\\" \\\"%{GREEDYDATA:user_agent.original}\\\"",
            "System log": "%{SYSLOGTIMESTAMP:event.ingested} %{GREEDYDATA:host.hostname} %{GREEDYDATA:process.name}\\[%{INT:process.pid}\\]: %{GREEDYDATA:system.log.message}",
            "Postgresql": "%{DATESTAMP:postgresql.log.timestamp} %{TZ:event.timezone} \\[%{DATA:process.pid}\\] %{WORD:related.user}@%{WORD:postgresql.log.database} %{WORD:log.level}: %{GREEDYDATA:postgresql.log.messages}",
            "Apache 1": "%{IPV4:source.address} - - \\[%{HTTPDATE:http.date}\\] %{INT} \\\" % {WORD: http.request.method} % {PATH: url.path} % {URIPARAM: url.param}    HTTP\\/%{BASE10NUM:http.version}\\\" %{INT:http.response.status_code} %{INT:http.response.bytes} \\\"-\\\" \\\"%{GREEDYDATA:user_agent.original}\\\"",
            "Apache 2": "%{IPV4:source.address} - - \\[%{HTTPDATE:http.date}\\] %{INT} \\\" % {WORD: http.request.method} % {PATH: url.path}    HTTP\\/%{BASE10NUM:http.version}\\\" %{INT:http.response.status_code} %{INT:http.response.bytes} \\\"-\\\" \\\"%{GREEDYDATA:user_agent.original}\\\"",
            "Apache 3": "%{IPV4:source.address} - - \\[%{HTTPDATE:http.date}\\] %{INT} \\\" % {WORD: http.request.method} % {PATH: url.path}    HTTP\\/%{BASE10NUM:http.version}\\\" %{INT:http.response.status_code} %{INT:http.response.bytes}\\\"%{URI:http.request.referrer}\\\" \\\"%{GREEDYDATA:user_agent.original}\\\"",
            "Mysql log": "%{NUMBER:date}\\s%{TIME:time}\\s%{INT:pid}\\s%{GREEDYDATA:message}",
            "Audit log type:USER END": "type=%{WORD:audit_type} msg=audit\\(%{NUMBER:audit_epoch}:%{NUMBER:audit_counter}\\): pid=%{NUMBER:audit_pid} uid=%{NUMBER:audit_uid} auid=%{NUMBER:audit_audid} ses=%{NUMBER:ses} msg=\\'op=%{WORD:operation}:%{WORD:detail_operation} grantors=%{WORD:pam_login},%{WORD:pam_key},%{WORD:pam_limit},%{WORD:pam_system} acct=\\\" % {WORD: acct_user}\\\" exe=\\\" % {GREEDYDATA: exec}\\\" hostname=%{GREEDYDATA:hostname} addr=%{GREEDYDATA:ipaddr} terminal=%{WORD:terminal} res=%{WORD:result}",
        }
        let patter = ["Nginx 1", "Nginx login", "Nginx 2", "Nginx 3", "Nginx 4", "System log", "Postgresql", "Apache 1", "Apache 2", "Apache 3", "Mysql log", "Audit log type:USER END"]

        function testVariable() {
            let strText = document.getElementById("patternName").value;
            let startGrokFilter ="     grok {";
            let defaultString2 = "      match => [ \"message\", \"";
            let defaultString3 = "\" ]";
            let endGrokFilter = "  }";
            if (Pattern[strText] === undefined) {
                document.getElementById('spanResult').textContent = "wrong pattern name"
            } else {
                document.getElementById('spanResult').textContent = startGrokFilter + "\n" + defaultString2 + Pattern[strText] + defaultString3 + "\n" + endGrokFilter;
            }
        }

        </script>

{{end}}
