{{template "base" .}}
{{define "title"}}Home{{end}}
{{define "main"}}
    <table class="cinereousTable">
        <thead>
            <tr>
                <th>Services</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="text-align:left">
                    #Nginx
                </td>
                <td style="text-align:right">
                    <a href="http://192.168.110.229/login" class="myButton" id="send">Go</a>
                </td>
            </tr>
            <tr>
                <td style="text-align:left">
                    #Grok
                </td>
                <td style="text-align:right">
                    <a href="http://192.168.110.214:8080" class="myButton" id="send">Go</a>
                </td>
            </tr>
            <tr>
                <td style="text-align:left">
                    #Kibana
                </td>
                <td style="text-align:right">
                    <a href="https://192.168.110.214:5601" class="myButton" id="send">Go</a>
                </td>
            </tr>
            <tr>
                <td style="text-align:left">
                    #Check the IP address
                </td>
                <td style="text-align:right">
                    <a href="http://localhost:4000/ip-checker" class="myButton" id="send">Go</a>
                </td>
            </tr>
            <tr>
                <td style="text-align:left">
                    #Grok patterns
                </td>
                <td style="text-align:right">
                    <a href="http://localhost:4000/grok" class="myButton" id="send">Go</a>
                </td>
            </tr>
        </tbody>
    </table>
{{end}}
